## Exercise

1. Create 5 list comprehensions to solve the following 5 problems:
  1. Iterate a list of names to return a list of the names starting with H
  2. In one line create a list of the numbers 1-100 to the power of 3
  3. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name
  4. Iterate over each character in a string and get only those that are nummeric
  5. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice

2. Create 2 dictionary comprehensions to solve the following:
  1. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
  2. Iterate a list of numbers and create a dictionary with (key, value) being (number, squareroot of number)

3. Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

In [10]:
names = ['sne','H책kan','Harakat'];
print([name for name in names if name.startswith('H')])

['H책kan', 'Harakat']

In [5]:
print([num**3 for num in range(1,101)])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [7]:
print([(name,len(name)) for name in names])

[('sne', 3), ('H책kan', 5), ('Harakat', 7)]

In [5]:
string = "asd34ga3"
print([char for char in string if(char.isnumeric())])

['3', '4', '3']

In [9]:
print(set(num for num in range(2,13)))

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [17]:
print({name:len(name) for name in names})

{'sne': 3, 'H책kan': 5, 'Harakat': 7}

In [18]:
print({num:num**2 for num in range(1,10)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}